services:
  app:
    build:
      context: ./FullMetal-Alchemist-Backend-Go
    container_name: fullmetal-alchemist-backend-go
    env_file: 
      - ./.env
    ports:
      - 8000:8000
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    build:
      context: ./FullMetal-Alchemist-Frontend-React
    container_name: fullmetal-alchemist-frontend
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    depends_on:
      - app
    stdin_open: true
    tty: true
  
  postgres:
    image: postgres:bookworm
    restart: always
    container_name: fullmetal-alchemist-go-db
    env_file:
      - ./.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    healthcheck:
      test: [CMD-SHELL, "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - 5432:5432
    volumes:
      - pg-data:/var/lib/postgresql
  
  redis:
    image: redis:7-alpine
    container_name: fullmetal-alchemist-redis
    ports:
      - 6379:6379
    restart: always

volumes:
  pg-data: